@charset "utf-8";
/* CSS Document */

#login-box {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 452px;
	font:12px Arial, Helvetica, sans-serif;
}

#login-box form {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.50);
    margin: 0 auto 15px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    text-align: left;
    width: 412px;
}
#login-box form label {
    color: #525252;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
	
}

#login-box form dt, #login-box form dd  {
     margin: 0;
    padding: 0;
}
#login-box form dl {
    margin-bottom: 10px;
}
#login-box form input {
    height: 38px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 6px;
    width: 412px;
}

input[type="text"], input[type="password"], input[type="email"] {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #CCC;

    height: 20px;
    margin: 0 0 5px;
    outline: 0 none;
    padding: 5px;
	font:inherit;
}

.forgot-password{
text-decoration:none;
float:left;	
}

#login-box form button {
    float: right;
    margin-right: 0;
    margin-top: 8px;
}

#login-box #validate_div {
   height:25px;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    
    
}