@charset "UTF-8";
/* CSS Document */

body{
	font-family:Arial;
	font-size:12px;
	color:#525252;
}

h1, h2, h3, h4{
	margin:0px;
	padding:0px;
}

h2 span{
	font-size:12px;
	font-weight:bold;
}

.print_view_wrapper{
	width:900px;
	margin:0px auto;
}

.content_table{
	background:#333;
}

.table_heading{
	background:#FFF;
	font-weight:bold;
	text-align:left;
}

.content_table tr{
	background:#FFF;
}

tr.completed{
	background:#f1f1f1;	
}

h1 span{
	font-size:12px;
	font-weight:bold;
	margin : 10px 0px;
}


